!!!
%html{ lang: 'en' }

  %head
    = partial 'meta'
    = stylesheet_link_tag 'app'

    = partial 'analytics' if config[:analytics]

  %body
    = partial 'webfont_loader'

    .site-wrap<
      = partial 'header'

      .wrap= yield

      = partial 'footer'
